@font-face {
    font-family: 'Azalleia Ornaments Free';
    src: local('Azalleia Ornaments Free'), local('AzalleiaOrnamentsFree'),
        url('AzalleiaOrnamentsFree.woff2') format('woff2'),
        url('AzalleiaOrnamentsFree.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

